*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

:root {
    --blue:#00425A;
    --green: #1F8A70;
    --orange: #FC7300;
    --dark: #181823;
    --light: #EFF5F5;
    /* Versiones pasteles de la paleta*/
    --blue2:#66A3B3;
    --orange2: #FFB366;
    --green2: #66CCB3;
    }
/* Estilos para la barra de navegación */
nav {
    background-color: var(--blue);
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li a {
    font-family: "Belanosima", sans-serif;
    font-size: 1.5rem;
    color: var(--light);
    text-decoration: none;

}
section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
  /*Estilos para la portada */
.hero {
    position: relative;
    width: 100%;
    height: 100%; 
    overflow: hidden;
    margin-bottom: 10px;
}
.hero {
    background-color: var(--dark);
    background-image: url("../assets/img/papel-blanco.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
/* Estilos para el texto del h1 */    
h1 {
    font-family: "PoppinsBold", sans-serif;
    font-size: 8vw;
    color: var(--blue);
    opacity: 70%;
    text-align: center;
    text-decoration:underline;
    position: relative;
    z-index: 1;
}

h2{
    font-family: "Belanosima", sans-serif;
    color: var(--dark);
    text-align: center;
}
h3 {
    font-family: "Belanosima", sans-serif;
    color: var(--dark);
    text-align: center;
}
p {
    font-family: "Belanosima", sans-serif;
    color: var(--dark);
    text-align: justify;
    margin: 15px;
}

/*Estilos para el main*/
.container {
    display: flex;
    align-content: center;
    flex-direction: column;
    row-gap: 6px;
}
#quienes {
    display: inline-flex;
    align-content: space-between;
}


.foto1, .foto2 {
    position: relative;
    align-items: flex-start;
    width: 40%;
    height: auto;
    border-radius: 30px;
    border: outset;
}

#porque {
    display: inline-flex;
    align-content: space-between;
    flex-direction: row-reverse;
}
#ultimas {
    display: flex;
    justify-content: space-between; 
    row-gap: 10px;
    column-gap: 10px;
    margin-top: 15px;
}
.tit  {
   /*  display: block; */
    display: inline;
    position: relative;
    flex-direction: column;
    align-content: center;
}

/*     flex-direction: column;
    align-items: center; */
}
.n1, .n2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.noticias {
    display: inline-flex;
    position: relative;
    align-content: space-between;
}
#propuesta {
    flex-direction: row;
}
.card-container {
    display: flex;
    justify-content: space-around; 
    row-gap: 10px;
    column-gap: 10px;

}
.card-exacta {
    border-radius: 5%;
    background-color:var(--dark);
    margin-top: 8px;
    position: relative;
}
.card-deporte {
    border-radius: 5%;
    background-color:var(--green);
    margin-top: 8px;
    position: relative;
    gap: 10px;

}
.card-arte {
    border-radius: 5%;
    background-color:var(--orange);
    margin-top: 8px;
    position: relative;
    gap: 10px;
}
.card-letras {
    border-radius: 5%;
    background-color:var(--blue);
    margin-top: 8px;
    position: relative;
    gap: 10px;

}

.h3-tarjeta {
    padding-top: 5%;
    color: var(--light);
    font-size: 1rem;
    text-align: center;
}


.card-top-escuadra {
    background-image: url(..//assets/img/escuadra.jpg);
    background-size: cover;
    border-top-left-radius: 8%;
    border-top-right-radius: 8%;
    height: 200px;
}
.card-top-deporte {
    background-image: url(..//assets/img/canasta-basquet.jpg);
    background-size: cover;
    border-top-left-radius: 8%;
    border-top-right-radius: 8%;
    height: 200px;
}
.card-top-arte {
    background-image: url(..//assets/img/arte.jpg);
    background-size: cover;
    border-top-left-radius: 8%;
    border-top-right-radius: 8%;
    height: 200px;
}
.card-top-letras {
    background-image: url(..//assets/img/letras.jpg);
    background-size: cover;
    border-top-left-radius: 8%;
    border-top-right-radius: 8%;
    height: 200px;
}

  /* Estilos para el pie de página */
footer {
    background-color: var(--blue2);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

footer .redes-sociales {
    display: flex;
    
}

footer .redes-sociales a {
    margin-right: 10px;

}

footer .nombre-instituto .final {
    text-align: center;
    color: var(--light);
}

    /*medias queries*/
@media (max-width: 320px) {
    body {
        width: 100%;
        margin: 0;
      }
    nav ul li a {
        font-size: x-small;
    }
    .foto1, .foto2 {
        max-width: 100%; 
        height: auto; 
        display: block; 
        margin-bottom: 10px;
    }
    .card-container {
        flex-direction: row;
        flex-wrap: wrap;

    }
    #quienes, #porque {
        flex-direction: column;
        align-items: center;
    }
    .card {
        flex-basis: 100%;
        max-width: 100%;
    }
    #ultimas {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    .noticias {
        flex-direction: column;
    }
    footer {
        flex-direction: column;
    }
}

@media  (max-width: 768px) {
    .card-container {
        flex-direction: column;
        flex-wrap: wrap;
    }
    #quienes, #porque {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    .foto1, .foto2 {
        max-width: 100%; 
        height: auto; 
        display: block; 
        margin-bottom: 10px;
    }
    .h3-tarjeta{
        padding: 0%;
    }
    .card {
        flex-basis: 100%;
        max-width: 100%;
    }
    #ultimas {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .noticias {
        flex-direction: column;
    }
}
@media (min-width: 768px) {

}
    
}
