:root {
    --blue:#00425A;
    --green: #1F8A70;
    --orange: #FC7300;
    --dark: #181823;
    --light: #EFF5F5;
}
body {
    font-family: Arial, sans-serif;
    background-color: var(--light);
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: var(--blue);
    padding: 15px;
}
h2 {
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: var(--green);
    padding: 5px;
}

form {
    max-width: 500px;
    margin: 0 auto;
    background-color: var(--dark);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    color: var(--light);
    display: block;
    margin-bottom: 10px;
    align-items: center;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 85%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--light);
    border-radius: 5px;
    background-color: var(--light);
    color: var(--dark);
}

input[type="submit"] {
    background-color: var(--green);
    color: var(--light);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    }

input[type="submit"]:hover {
    background-color: var(--orange);
}
